@import "projects.css";
@import "about.css";
@import "experience.css";

body {
	display: flex;
	justify-content: center;
	grid-gap: 30px;
	background: #111e41;
	color: #d5deee;
	padding: 30px;
	margin: 25px;
	font-size: 20px;
	word-break: keep-all;
}
header {
	word-break: keep-all;
	flex: 0 0 50%;
}
.about__micro {
	color: #8c9aaf;
}

#my_links li {
	display: flex;
	flex-direction: row;
	padding: 5px;
	list-style-type: none;
}
#about__b, #experience__b, #projects__b{

	color: #8c9aaf;
}

.github img,
.instagram img,
.tg img,
.spotify img {
	height: 70px;
	width: 70px;
	display: flex;
}
.wrapper {
	display: flex;
	gap: 20px;
}
.indexx {
	display: flex;
	flex-direction: column;
	padding-left: 15px;

	flex: 0 0 50%;
}
.projects {
	display: flex;
	flex-direction: column;
}

.container__exp {
	display: flex;
	transition: 0.5s;
	/*margin-left: 30px;*/
}
.container__exp:hover, .year:hover{
	background-color: #374452;
	border-radius: 20px;
}
.container__main {
	display: grid;
	padding: 0 0 0 50px;
}
#container__buttons {
	padding: 20% 0 0 20%;
}
#container__buttons button {
	margin: 20px 0 0 0;
}
#my_links ul {
	display: flex;
	margin-top: 15rem;
}
#my_links li {
	margin: 0 20px 0 0;
}
.stack__exp {
	display: flex;
}

.experience {
	display: flex;
	flex-direction: column;
	transition: 0.5s;
}
.exp:hover, .exp__date:hover{
	background-color: #374452;
	border-radius: 20px;
}
.exp {
	display: flex;
}
.exp_main {
	display: grid;
	padding: 0 0 0 50px;
}

a {
	text-decoration: none;
}
